
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model Voter

<form asp-controller="Home" asp-action="Index" method="post" asp-antiforgery="true">
    <div asp-validation-summary="All"></div>
    <div>
        Age  <input type="text" asp-for="@Model.Age" />
    </div>
    <div>
        Allow vote(y/n) <input type="text" asp-for="@Model.AllowVote" />
    </div>
    <input type="submit" value="Vote !"/>

</form>